* {
  box-sizing: border-box;
}

body {
  background-color: rgb(127,255,212);
}

.container{
  margin-left: auto;
  margin-right: auto;
  margin-top: 30%;
  width: 200px;
  height: 350px;
  background-color: rgb(239,239,239);
  border-radius: 10px 10px 35px;
  box-shadow: 5px 5px rgb(91,219,192);
}

.line {
  width: 100%;
  border-top: 3px solid rgb(224, 219, 219);
  margin-top: 20px;
}

.border-screen{
  position: relative;
  margin-left: auto;
  margin-right: auto;
  top: 30px;
  width: 160px;
  height: 150px;
  background-color: rgb(156,154,154);
  border-radius: 10px 10px 25px;
  box-shadow: 2px 2px black;
}

.screen{
  position: absolute;
  margin:  20px;
  width: 120px;
  height: 110px;
  background-color: rgb(190,171,91);
  outline: 3px inset rgb(185,160,46);
  /* box-shadow: -2px -2px rgb(101,87,25); */
}

/* Position

BoxModel

Text 

Visual

Varios */